<h1>création de cartes</h1>
<a href="/listCarte">voir les cartes</a>
<p> 
<form action="/newCarte" method="POST">
    <label for="cartes">Cartes: </label> 
    <input type="text" id="cartes" name="cartes" required><br>
    <input type="checkbox" id="brillant" name="brillant1" value="1">
    <label for="brillant1" > Brillance </label><br>
    <input type="checkbox" id="rare" name="rare1" value="1">
    <label for="rare1"> Rareté </label><br>
    <label for="attaque">Attaque: </label> 
    <input type="text" id="attaque" name="attaque" required><br>
    <label for="Puissance">Puissance (between 1 and 100):</label>
    <input type="number" id="puissance" name="puissance1" min="1" max="100" required>
    <br>
    <label for="pokemon">pokemon attaché: </label>
    <select name="pokemon" id="pokemon">
        <% for( let i = 0; i <listPokemon.length; i++ ) { %> 
            <option value="<%= listPokemon[i].idpokemon %> "> <%= listPokemon[i].nom %> </option>
    <%  } %>
    </select>
    <br><br>
<button>Ajouter</button>

</form>
</p>


