<h1>Inscription</h1>
<p> 
<form action="/inscrit" method="POST">
    
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="email">Enter your email:</label>
    <input type="email" placeholder="Enter Mail" id="email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button>S'inscrire</button>
</form>
<%= error %> 
</p>