<h1>Liste des pokemons</h1>
<table style="width:100%">
    <tr>
        <th>Nom</th>
        <th>puissance</th>
        <th>attaque</th>
        <th>modifier</th>
        <th>supprimer</th>
    </tr>
    <% for( let i = 0; i <listCarte.length; i++ ) { %>
    <Form action="/listCarte/<%= listCarte[i].idcarte  %>" method="GET">
    <tr>
      <th><%= listCarte[i].nom %></th>
      <th><%= listCarte[i].puissance %></th>
      <th><%= listCarte[i].attaque %></th>
      <th><button name="update" value="update">update</button></th>
      <th><button name="delete" value="delete">delete</button></th>
    </tr>
</Form>
      <%  } %>
  </table>
    

