<html>
    <Head>
        <h1>Liste des todo</h1>
    </Head>
            <p>
                <% for(var i = 0 ; i < tasks.length; i++) {​​​​ %>
                <%= tasks[i] %><br>
                <% }​​​​​ %>
            </p>
   
</html>
