<h1>Connexion</h1>
<p> 
<form action="/logon" method="POST">
    
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" value="Moh" required>
    <br>

    <label for="email">Enter your email:</label>
    <input type="email" placeholder="Enter Mail" id="email" name="email" value="a@hotmail.com" required>
    <br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" value="123456" required>
    <br>

    <button>Se connecter</button>
    <br>
    <a href="/inscription">s'inscrire</a>
    

</form>
<%= error %> 
</p>
