<h1>Connexion</h1>
<p> 
<form action="/collectionCarte" method="GET">
    
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" value="Moh" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" value="123456" required>

    <button>Se connecter</button>
</form>
    
</p>
