@font-face {
  font-family: "pokemon";
  src: url("../fonts/PokemonSolid.ttf") format("truetype");
 }
 
 
 html {
 scroll-behavior: smooth;
 }
 
 body, html {
   height: 100%;
 }
 
 * p {
  text-align: justify;
 }
 
 
 #navnav {
     background-color: rgba(0,0,0,0.2);
     top: auto;
     padding-right: 150px;
     text-decoration: none;
     box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
 }
 
 .navbar-dark .navbar-nav .nav-link {
   color: white;
   font-weight: bold;
   margin: 10px;
 }
 
 .navbar-dark .navbar-nav .nav-link:hover {
   color: #3a5ca7;
 }
 
 .navbar-toggler {
   background-color: #3a5ca7;
 }
 
 .accueil {
   background: url(../images/header1.jpg) center;
   height: 100%;
   background-size: cover;
   position: relative;
   padding-top: 50px;
 }
 
 .accueil p {
   color: #FFF;
   margin-top: 15px;
    margin-bottom: 30px;
    font-size: 25px;
 }
 
 .acc1 {
   margin-top: 150px;
 }
 
 #btn-principal {
   background-color: #3a5ca7;
   font-size: 15px;
   color: #FFFFFF;
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 50px;
   padding: 16px 15px;
   width: 100%;
   max-width: 195px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 
 #btn-secondary {
   background-color: #3a5ca7;
   font-size: 13px;
   color: #ffcc08;
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 50px;
   padding: 16px 15px;
   width: 250px;
   max-width: 195px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   margin: 10px;
 }
 
 #btn-secondary2 {
   background-color: #3a5ca7;
   font-size: 13px;
   color: #ffcc08;
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 50px;
   padding: 16px 15px;
   width: 250px;
   max-width: 195px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   float: right;
 }
 
 #btn-third {
   background-color: #ffcc08;
   font-size: 13px;
   color: #3a5ca7;
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 50px;
   padding: 16px 15px;
   width: 250px;
   max-width: 195px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   margin: 10px;
 }
 
 h1.titlefirst {
   color: white;
   text-align: center; 
   text-shadow: 2px 2px #000;
   padding-bottom: 20px;
   padding-top: 20px;
 }
 
 h2.title {
   color: #ffcc08;
   margin: 0;
   margin-top: 10px;
   margin-bottom: 15px;
   font-size: 40px;
   line-height: 80px;
   text-transform: uppercase;
   font-family: pokemon;
   text-shadow: 2px 2px 2px #3a5ca7;
   letter-spacing: 5px;
 }
 
 h2.title2 {
   color: #FFFFFF;
   margin: 0;
   margin-top: 10px;
   margin-bottom: 15px;
   font-size: 25px;
   letter-spacing: 5px;
   line-height: 40px; 
 }
 
 #paragraphetxt {
   letter-spacing: 1px;
 }
 
 
 @media screen and (max-width: 800px) {
   #navnav {
     padding-right: 30px;
   }
   #navlogo{
     width: 60%
   }
   h1.titlefirst {
   font-size: 25px;
   padding-bottom: 20px;
   padding-top: 20px;
   }
   h2.title {
     font-size: 25px;
     line-height: 45px; 
   }
   h2.title2 {
   margin-top: 2px;
   font-size: 18px;
   letter-spacing: 1px;
   line-height: 40px; 
 }
 #btn-secondary2 {
   margin-top: -220px;
   float: left;
   }
 }
 
 
 .ligue {
     position: relative;
     /*background: url(../images/supp.png) center left;
     height: 80%;
     background-repeat: no-repeat;
     background-size: cover;*/
     margin-bottom: 150px;
     padding-top: 100px;
 }
 
 .ligue p {
   margin-top: 15px;
   margin-bottom: 30px;
   font-size: 16px;
 }
 
 .imageapropos {
   margin-top: 50px;
   width: 400px;
   border-radius: 8px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
 }
 
 .doublebtn ul {
   padding:0;
   margin:0;
 }
 .doublebtn ul li{
   list-style: none;
   display: inline-block;
   cursor: pointer;
 }
 
 @media screen and (max-width: 800px) {
   .ligue {
     margin-bottom: 50px;
   }
 .imageapropos {
   width: 300px;
   margin-left: 20px;
   }
 }
 
 
 
 .promo {
     position: relative;
     background: url(../images/screen2.jpg) no-repeat bottom right;
     height: 55%;
     background-size: cover;
     margin-bottom: 100px;
 }
 
 .promo p {
   margin-top: 15px;
   margin-bottom: 30px;
   font-size: 16px;
 }
 
 
 @media screen and (max-width: 800px) {
   .promo {
     margin-bottom: 10px;
   }
 
 }
 
 
 
 #contact{
   
   padding:30px 0 100px 0;
 }
 
 #contact .left {
       margin-top: 50px;
 }
 #contact .left form .row:last-of-type .form-group{
     margin-bottom: 0;
 }
 
 #contact .left input,#contact .left textarea{
   color: #FFF;
   font-size: 18px;
   border: 2px solid #3a5ca7;
   border-radius: 38px;
   padding: 28px 30px;
   letter-spacing: 0;
   height: 50px;
 }
 
 #contact .left textarea{
     height: 172px;
     margin-bottom: 10px;
 }
 #contact .left .form-row>.col, #contact .left .form-row>[class*=col-] {
     padding-right: 15px;
     padding-left: 15px;
 }
 
 #contact .left ::-webkit-input-placeholder {
   font-size: 15px; 
   color: #3a5ca7;
 }
 
 #contact .left button{
   background-color: #3a5ca7;
   font-size: 15px;
   color: #ffffff;
   letter-spacing: 2px;
   border-radius: 50px;
   padding: 16px 15px;
   width: 100%;
   max-width: 195px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 #contact .left button:hover{
     color: #ffffff;
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
 }
 
 
 /* Details */
 #contact .right{
   padding-left: 100px;
 }
 
 #contact .right h2{
   color: #3a5ca7;
   margin: 0;
   margin-top: 10px;
   margin-bottom: 15px;
   font-size: 35px;
   line-height: 80px;
 }
 
 #contact .right p{
   color: #000;
   margin-top: 15px;
   margin-bottom: 30px;
   font-size: 16px;
 }
 
 
 @media screen and (max-width: 800px) {
  #contact .right{
   padding-left: 20px;
   }
 }
 
 
 footer {
 padding-top: 20px;
 padding-bottom: 10px;
 background-color: #3a5ca7;
 color: white;
 font-size: 15px;
 text-align: center;
 }
 
 /*CONNEXION-INSCRIPTION*/
 .align {
   background: url(../images/connexion.jpg);
   height: 100%;
   background-size: cover;
 }
 
 .wrapper {
   display: flex;
   align-items: center;
   flex-direction: column; 
   justify-content: center;
   width: 100%;
   min-height: 100%;
   padding: 20px;
 }
 
 #formContent {
   -webkit-border-radius: 10px 10px 10px 10px;
   border-radius: 10px 10px 10px 10px;
   background: rgba(255,255,255,0.9);
   padding: 30px;
   width: 90%;
   max-width: 450px;
   position: relative;
   padding: 0px;
   -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   text-align: center;
 }
 
 #formFooter {
   background-color: #f6f6f6;
   border-top: 1px solid #dce8f1;
   padding: 25px;
   text-align: center;
   -webkit-border-radius: 0 0 10px 10px;
   border-radius: 0 0 10px 10px;
 }
 
 
 
 /* FORM TYPOGRAPHY*/
 
 input[type=button], input[type=submit], input[type=reset]  {
   background-color: #3a5ca7;
   border: none;
   color: white;
   padding: 15px 80px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   text-transform: uppercase;
   font-size: 13px;
   -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
   box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
   -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
   margin: 10px 20px 20px 20px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }
 
 input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
   background-color: #ffcc08;
 }
 
 input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
   -moz-transform: scale(0.95);
   -webkit-transform: scale(0.95);
   -o-transform: scale(0.95);
   -ms-transform: scale(0.95);
   transform: scale(0.95);
 }
 
 input[type=password] {
   background-color: #f6f6f6;
   border: none;
   color: #0d0d0d;
   padding: 15px 32px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 5px;
   width: 85%;
   border: 2px solid #f6f6f6;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
 }
 
 input[type=password]:focus {
   background-color: #fff;
   border-bottom: 2px solid #5fbae9;
 }
 
 input[type=password]:placeholder {
   color: #cccccc;
 }
 
 input[type=text] {
   background-color: #f6f6f6;
   border: none;
   color: #0d0d0d;
   padding: 15px 32px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 5px;
   width: 85%;
   border: 2px solid #f6f6f6;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
 }
 
 input[type=text]:focus {
   background-color: #fff;
   border-bottom: 2px solid #5fbae9;
 }
 
 input[type=text]:placeholder {
   color: #cccccc;
 }
 
 input[type=email] {
   background-color: #f6f6f6;
   border: none;
   color: #0d0d0d;
   padding: 15px 32px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 5px;
   width: 85%;
   border: 2px solid #f6f6f6;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
 }
 
 input[type=email]:focus {
   background-color: #fff;
   border-bottom: 2px solid #5fbae9;
 }
 
 input[type=email]:placeholder {
   color: #cccccc;
 }
 
 /* ANIMATIONS */
 
 /* Simple CSS3 Fade-in-down Animation */
 .fadeInDown {
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeInDown {
   0% {
     opacity: 0;
     -webkit-transform: translate3d(0, -100%, 0);
     transform: translate3d(0, -100%, 0);
   }
   100% {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }
 
 @keyframes fadeInDown {
   0% {
     opacity: 0;
     -webkit-transform: translate3d(0, -100%, 0);
     transform: translate3d(0, -100%, 0);
   }
   100% {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }
 
 /* Simple CSS3 Fade-in Animation */
 @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
 .fadeIn {
   opacity:0;
   -webkit-animation:fadeIn ease-in 1;
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
 
   -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
 
   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   animation-duration:1s;
 }
 
 .fadeIn.first {
   -webkit-animation-delay: 0.4s;
   -moz-animation-delay: 0.4s;
   animation-delay: 0.4s;
 }
 
 .fadeIn.second {
   -webkit-animation-delay: 0.6s;
   -moz-animation-delay: 0.6s;
   animation-delay: 0.6s;
 }
 
 .fadeIn.third {
   -webkit-animation-delay: 0.8s;
   -moz-animation-delay: 0.8s;
   animation-delay: 0.8s;
 }
 
 .fadeIn.fourth {
   -webkit-animation-delay: 1s;
   -moz-animation-delay: 1s;
   animation-delay: 1s;
 }
 
 /* Simple CSS3 Fade-in Animation */
 .underlineHover:after {
   display: block;
   left: 0;
   bottom: -10px;
   width: 0;
   height: 2px;
   background-color: #3a5ca7;
   content: "";
   transition: width 0.2s;
 }
 
 .underlineHover:hover {
   color: #3a5ca7;
 }
 
 /*********************************************************/
 /******************** CREATION CARTES ********************/
 /*********************************************************/
 .cart {
   background: url(../images/listcart.jpg);
   height: 100%;
   background-size: cover;
 }
 
 .wrapper2 {
   display: flex;
   align-items: center;
   flex-direction: column; 
   justify-content: center;
   width: 100%;
   min-height: 100%;
   padding: 20px;
 }
 
 #formContent2 {
   -webkit-border-radius: 10px 10px 10px 10px;
   border-radius: 10px 10px 10px 10px;
   background: rgba(255,255,255,0.9);
   padding: 30px;
   width: 90%;
   max-width: 600px;
   position: relative;
   padding: 0px;
   -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   text-align: center;
 }
 
 input[type=checkbox] {
   margin: 10px;
   width: 15px;
   height: 15px;
   background: grey;
 }
 
 .labelcarte {
   padding: 5px;
   margin-bottom: 0 ;
   font-size: 18px;
 }
 
 /*********************************************************/
 /********************** LISTE CARTES *********************/
 /*********************************************************/
 .listecarte {
   background: url(../images/listcart.jpg);
   height: 100%;
   background-size: cover;
 }
 
 .wrapper3 {
   display: flex;
   align-items: center;
   flex-direction: column; 
   justify-content: center;
   width: 100%;
   min-height: 100%;
   padding: 20px;
 }
 
 #formContent3 {
   -webkit-border-radius: 10px 10px 10px 10px;
   border-radius: 10px 10px 10px 10px;
   background: rgba(255,255,255,0.9);
   padding: 30px;
   width: 90%;
   max-width: 1500px;
   position: relative;
   padding: 0px;
   -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   text-align: center;
 }
 
 .table td, .table th {
   vertical-align: middle;
 }
 
 #btn-update {
   background-color: #3a5ca7;
   font-size: 10px;
   color: #FFFFFF;
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 50px;
   padding: 16px 15px;
   width: 100px;
   max-width: 195px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   margin: 10px;
 }
 
 #btn-delete {
   background-color: #e63946;
   font-size: 10px;
   color: #FFFFFF;
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 50px;
   padding: 16px 15px;
   width: 100px;
   max-width: 195px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   margin: 10px;
 }
 
 /*********************************************************/
 /********************* LISTE POKEMON *********************/
 /*********************************************************/
 #btn-create {
   background-color: #3a5ca7;
   font-size: 9px;
   color: #FFFFFF;
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 50px;
   padding: auto;
   width: 150px;
   max-width: 195px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   margin: 10px;
   float: left;
 }
 
 #btn-create:hover {
  color: #ffcc08;
 }


 #btn-redirect {
  background-color: #3a5ca7;
  font-size: 9px;
  color: #FFFFFF;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  padding: auto;
  width: 180px;
  max-width: 195px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  float: left;
}

#btn-redirect:hover {
 color: #ffcc08;
}