<h1>Liste des sayans</h1>
<p>
<% for(var i = 0 ; i <listnom.length ; i++) { %>
<%= listnom[i].name %> 

<Form action="/listnom/update/<%=i%>"><button>update</button> 
</Form><br>
<Form action="/listnom/remove/<%=i%>"><button>delete</button> 
</Form><br>

<% } %>
<br>

<form action="/listnom/add" method="GET">
<input type="texte" id="name" name="">
<button>send</button></form>
</p>