<h1>Liste des sayans</h1>
<p> 
<% for( let i = 0; i <listnom.length; i++ ) { %> 
<%= listnom[i] %> <Form action="/remove/<%= i %>"><button>delete</button>
</Form><br>
<%  } %>
<br> <%= message %>



<form action="/add" method="POST">
<input type="texte" id="newList" name="newList">
<button>send</button></form>
    
</p>
